.searchBtn{
     border: none;
     background: orange;
     border-top-right-radius: 10px;
     border-bottom-right-radius:10px ;
     height: 100%;
     padding: 20px;
}


@media screen and (max-width:688px){
     /* .naves{
          display: none !important;
     } */
}
@media screen and (max-width:998px){
     #navSearch{
          display: none !important;
     }
}
